/* App.css */

.App {
  font-family: sans-serif;
  text-align: center;
}

.container1 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  /* align-items: center; */
  /* Adjust height as needed */
}

.header-container {
  /* margin-bottom: 20px; */
}

.add-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-input {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  width: 200px;
  background-color: #fff;
  color: #999;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popover {
  position: fixed;
  top: 30%;
  left: 84%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  margin-top: 20px;
}
.weekday-label {
  margin-right: 10px; /* Adjust as needed for spacing */
  display: inline-block; /* Align radio buttons horizontally */
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; /* Adjust margin as needed */
}

.button-container button {
  margin-left: 10px; /* Adjust margin as needed */
}

/* Add your other styles here */
